<div class="container">
     <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-left footer-style">
            <h6>About Us</h6>
            <ul>
                <li><a href="#">About bibaho.com</a></li>
                <li><a href="#">Terms and Conditions</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Feedback</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>     
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-left footer-style">
            <h6>Bride or Groom Seekers</h6>
            <ul>
                <li><a href="#">Create Account</a></li>
                <li><a href="#">My bibaho.com account</a></li>
                <li><a href="#">F.A.Q</a></li>
                <li><a href="#">Instructions </a></li>
                <li><a href="#">Guidelines</a></li>
            </ul>     
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-left footer-style">
            <h6>Bride or Groom Profile</h6>
            <ul>
                <li><a href="#">Create Account</a></li>
                <li><a href="#">Your Services Account</a></li>
                <li><a href="#">F.A.Q</a></li>
                <li><a href="#">Instructons</a></li>
                <li><a href="#">Guidelines</a></li>
            </ul>     
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center  social footer-style">
            <h6>Social Network</h6>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center footer-style-div1">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter twitter" aria-hidden="true"></i></a><li>
                        <li><a href="#"><i class="fa fa-linkedin linkedIn" aria-hidden="true"></i></a><li>
                    </ul>    
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center footer-style-div2">
                    <ul>
                        <li><a href="#"><i class="fa fa-youtube youtube" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus google-plus" aria-hidden="true"></i></a><li>
                        <li><a href="#"><i class="fa fa-pinterest pinterest" aria-hidden="true"></i></a><li>
                    </ul>   
                </div>   
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" style="padding: 20px;">
            <p class="footer-text">&copy;All Rights Reserved shuvodristi.com</p>
        </div>
    </div>
</div>
