<div class="bg-grey form-holder">
    <!-- <div class="upperLayer"></div> -->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="welcomeForm">
        <div class="welcomeFormContainer">
            <form  id="msform" name="form" ng-submit="reg.submitJoinForm(form)" novalidate>
                <h2 class="fs-title">New to HackAsolution?<br /> Sign up Now!</h2>
                <!-- <input type="text" name="name" placeholder="Name" ng-model="reg.userInfo.name" required ng-class="{ 'has-success': form.name.$valid && reg.submitted, 'has-error': form.name.$invalid && reg.submitted }"/>
                <span class="text-error" data-ng-show="form.name.$invalid && reg.submitted">Name is required.</span> -->
                <!-- <input type="text" name="lname" ng-model="reg.userInfo.lastName" placeholder="Last Name" /> -->
                <label class="pull-left label-Font reqStar">Email</label>
                <input type="email" name="email" ng-show="reg.textSuccessMessage!=true" ng-model="reg.userInfo.email" placeholder="Email" required ng-class="{ 'has-success': form.email.$valid && reg.submitted, 'has-error': form.email.$invalid && reg.submitted }"/>
                <span class="text-error pull-left" data-ng-show="form.email.$invalid && reg.submitted"><br/>Email is required.<br/></span>

               <!--  <input type="password" name="password" ng-model="reg.userInfo.password" placeholder="Password" required ng-class="{ 'has-success': form.password.$valid && reg.submitted, 'has-error': form.password.$invalid && reg.submitted }"/>
                <span class="text-error" data-ng-show="form.password.$invalid && reg.submitted">Password is required.</span> -->
                <!-- <button class="btn btn--default btn-md btnLinkedIn" ng-click="reg.authLinkedIn()"><i class="fa fa-linkedin" aria-hidden="true"></i> Sign up with LinkedIn</button>
                <div class="formOrDivider">– or –</div> -->

                <label class="label-Font reqStar pull-left">Upload Resume</label>
                <input type="file" ngf-select="reg.uploadResume($files)" ng-model="reg.userInfo.Resume" name="resume" accept=".pdf" required>
                <span class="text-error pull-left" ng-show="!reg.userInfo.Resume && reg.submitted"><br/>Uploading Resume is required.<br/></span>

                <span class="text-success" data-ng-show="reg.textSuccessMessage==true"><br/>Your request has been sent successfully.<br/></span>
                <input type="submit" name="next" class="next next1 action-button" value="Request to Join" />
                <p class="form__footnote">
                    By signing up, you agree to the <a href="/termOfUse">Terms & Conditions</a> and <a href="/privacyPoclicy">Privacy policy</a>
                </p>
            </form>
        </div>
    </div>
    <a class="stickyNotesLeft hidden-sm hidden-xs" href="#">
        <h2>Title #1</h2>
        <p>Text Content #1</p>
    </a>

    <a class="stickyNotesRight hidden-sm hidden-xs" href="#">
        <h2>Title #1</h2>
        <p>Text Content #1</p>
    </a>
</div>
<script src="http://lab.iamrohit.in/js/location.js"></script>  
<script type="text/javascript">
$("#getRegForm").click(function(e) {
    $("#welcomeForm").hide();
    $("#msform").show();

    e.preventDefault();
});

$('#normalTime').click(function(){
    $('.availibilityBox').addClass('boxDisable').removeClass('boxActive');      
});
$('#flexiTime').click(function(){
    $('.availibilityBox').addClass('boxActive').removeClass('boxDisable'); 
});
</script>