<div class="container">
	<div class="col-sm-6">
		<form class="form" name="form" ng-submit="vm.recoverPassword(form)" novalidate>
			<div ng-show="!vm.message">
				<div class="form-group">
					<label>New Password</label>

					<input type="password" name="newPassword" class="form-control" ng-model="vm.user.newPassword"
								 ng-minlength="8"
								 required/>
					<p class="help-block"
						 ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || vm.submitted)">
						Password must be at least 8 characters.
					</p>
				</div>

				<div class="form-group">
					<label>Confirm New Password</label>

					<input type="password" name="confirmPassword" class="form-control" ng-model="vm.user.confirmPassword"
								 match="vm.user.newPassword"
								 ng-minlength="8"
								 required=""/>
					<p class="help-block"
						 ng-show="form.confirmPassword.$error.match && vm.submitted">
						Passwords must match.
					</p>

				</div>

			</div>

			<p class="help-block"> <h4>{{ vm.message }} </h4></p>

			<button ng-show="!vm.message" class="btn btn-md btn-primary" type="submit">Recover Password</button>
		</form>
	</div>
</div>